<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LiveStreamingShow</title>
    </head>
    <body>
        <table style="width: 1200px; border: 0px; padding: 0px">
            <tr>
                <td style="width: 500px; height: 500px">
                    <iframe src="/live/topic3d" width="100%" height="100%"></iframe>
                </td>
                <td>
                    <iframe src="/live/topicCell" width="700" height="500"></iframe>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <iframe src="/live/topicMonitor?seedNo=21" width="1200" height="500"></iframe>
                </td>
            </tr>
        </table>
    </body>
</html>